@import url("https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:wght@500&display=swap");

:root {
  --color1: #f8f4ec;
  --color2: rgb(71, 77, 255);
  --color3: rgb(29, 29, 29);
  --color4: rgb(13, 13, 13);
}

* {
  font-family: "inter", sans-serif;
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
}
/* - NOTE 1 : Le sans-serif signifie "si la police inter n'est pas dispo, alors utilise sans-serif. C'est une sécurité" 
   - NOTE 2 : prendre le réflexe de toujours mettre la ligne box-sizing:border-box pour éviter que les boites fonctionnent mal */

body {
  min-height: 100vh;
  background: var(--color3);
}
/* - NOTE 1 : on met toujours un minimum de hauteur, exprimé en vh (fenêtre utilisateur) */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: var(--color1);
  font-size: 0.8rem;
}

nav ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

nav li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}

.header-left {
  display: flex;
  justify-content: center;
  width: 50%;
}
/* Ici, le 50% signifie la place qu'occupe cette div à l'intérieur de son aprent (donc la place de header-left à l'intérieur de header). Cela permet aussi de conserver les proportions lorsque l'on manipule la taille de la fenêtre. */

.header-left-container h1 {
  color: var(--color1);
  font-size: 5rem;
}

.header-left-container h3 {
  color: var(--color2);
  font-size: 1.8rem;
}

.header-left-container p {
  color: var(--color1);
  font-size: 0.6rem;
}

.header-right {
  width: 50%;
}

#modem {
  width: 100%;
}

.infos {
  display: flex;
  background: var(--color4);
  border-radius: 10px;
}

.infos-left {
  width: 33%;
}

.infos h3 {
  color: var(--color1);
  margin: 10px;
  font-size: 0.9rem;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

button {
  border: none;
  background: var(--color2);
  color: var(--color1);
  width: 150px;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin: 5px;
}

.infos-right {
  width: 67%;
}
/* On a mis 67% pour infos-right puisqu'on avait mis 33% pour infos-left */

.investors {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
/* Le height=80% signifie que les éléments doivent s'étaler jusque 80% de l'espace total */

.img-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.img-container img {
  height: 60px;
}
